//nexus.metamodel.dev/repository/npm-hosted/:_auth=${METAMODEL_NEXUS_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@metamodeldev:registry=https://nexus.metamodel.dev/repository/npm-hosted/
@ObeoNetwork:registry=https://npm.pkg.github.com/ObeoNetwork
